@import "tailwindcss";

/* input, select {
  width: 100%;
  max-width: 100%;
  padding: 16px 20px;
  margin: 12px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background-color: rgba(12, 28, 44, 0.75);
  color: #E1CBD7;
  font-size: 16px;
  font-family: inherit;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  box-sizing: border-box;
} */